.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



.site-header {
  background: #3f51b5;
  color:#fff;
  padding: 10px 5%;
  box-shadow: 0 1px 3px #333;
}

.site-header h1 {
  float: left;
  margin: 0;
  font-size: 20px;
}

.intro-text {
  font-size: 18px;
}

.main-nav {
  float: right;
}

.main-nav ul {
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  display:inline;
}

.main-nav ul li a {
  list-style: none;
  color: #FFF;
  text-decoration: none;
}

.billboard {
  background: #333;
  color: #FFF;
  text-align: center;
  padding: 40px;
}

.billboard h2 {
  margin-top: 0;
}

.main-col {
  float: left;
  width: 70%;
}

.sidebar-col {
  padding: 25px 2.5%;
  background: #ccc;
  color: black;
  float: right;
  width: 20%;
}

.column-wrapper {
  width: 90%;
  margin: 0 auto;
}

.main-footer {
  background: #333;
  color: white;
  padding: 40px 5%;
}

.main-footer a {
  color: white;
  font-size: 12px;
}
.copywright {
  float: left;
}

.footer-nav {
  list-style: none;
  float: right;
}

.footer-nav li {
  float: left; 
}

.footer-nav li + li{
  margin-left: 10px;
}
